html, body {
    height: 100%;
    width: 100%;
    margin: 10px;
  }
  
  .padding {
    padding: 2%;
  }
  
  .parent-container {
    /* border: red solid 1px; */
    margin: 20px 0;
    padding: 0;
    background-color: lightblue;
  }
  
  .child-container {
    /* border: yellow solid 1px; */
    margin: 20px;
    padding: 25px 0;
    width: 40%;
    display: flex;
    justify-content: space-between;
  }
  
  .item {
    background-color: lightgreen;
    width: 175px;
    height: 150px;
    text-align: center;
  }
  
  form {
    text-align: left;
    line-height: 30px;
    overflow: auto;
  }
  
  .submit {
    margin-top: 20px;
  }
  
  img {
    height: 300px;
  }
  
